body{
	background-image: url("images/umbrellas.jpg");
	background-size: 100em 100em;
}
h1,h2,h3,.weather_desc,.value,.symbol{
	color: white;
	margin: 0;
	text-shadow: 2px 2px 4px black;
	background-repeat: no-repeat;
	padding: 2%;
}
.title{
	font-size: 4rem;
	text-align: center;
}
.container{
	padding-bottom: 25px;
}

h1{
	font-size: 15rem;
}
h2{
	font-size: 5rem;
}
h3{
	font-size: 5rem;
}
.symbol{
	font-size: 10rem;
}
.value{
	font-size: 14rem;
}

.container{
	width: 60%;
	min-width: 320px;
	border: 1px solid black;
	background-color: rgba(0,0,0,0.5);
	margin: 0 auto;
	display: grid;
	grid-template-rows:10% 20% 70%;
	text-align:center;
	padding: 25px 25px;
	border-radius: 25px;
	justify-content: space-around;
}
.temperature{
	 display:grid;
	 grid-template-columns: auto auto;
	 justify-content: center;
}
.symbol{
	display: none;
}
@media screen and (max-width:450px) {
	.title{
	font-size: 3rem;
	text-align: center;
}
.container{
	padding-bottom: 25px;
}

h1{
	font-size: 7rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 2rem;
}
.symbol{
	font-size: 4rem;
}
.value{
	font-size: 4rem;
}
}